@media screen and (max-width: 320px) {

    .letra {
    color: white;
    background-color: black;

    }
}


@media screen and (min-width: 321px) and (max-width: 768px) {
    
    .letra {
    color: black;
    background-color: white;

    }
}


@media screen and (min-width: 769px) {
    
    .letra {
    color: white;
    background-color: black;
    padding: 20px;
    margin:30px;
    border: 5px solid #383D38;
    
    }
}
