body {
    margin:0;
    padding: 0;
    height: 100%;
}

.padre {
    position: relative;
    border: 1px solid #090A09;
    box-sizing: border-box; 
    margin: 1%;
    width: 100%;
}

.padre1 {
    height: 200px;
}

.padre2 {
    height: 100px;
}


.padre3 {
    height: 200px; 

}

.padre4 {
    
    height: 200px;
    
}

.hijo {
    padding: 1%;
    position: relative;
    box-sizing: border-box;
    height: 90%;
    
}

section {
    margin: 0;
    height: 100%;
    padding: 0.5%;
    overflow: hidden;
}

.hijo1 {
    margin: 0.5%;
}

.hijos2 {
    width: 32%;
    height: 98%;
    float: left;
    margin: 0.5%;
   
}

.hijos3 {
    width: 48%;
    height: 97%;
    
    float: left;
    margin: 0.5%;
     
}

.hijo1 {
    background-color: #E18E14;
}   

.hijo2 {
    background-color: navajowhite;
}   

.hijo3 {
    background-color:aqua;
}   

.hijo4 {
    background-color: azure;
}   

.hijo7 {
    background-color: darkgoldenrod;
    
}   