


@media screen and (max-width: 320px) {

.contenedor {

font-size: 0.6em;

}

}


@media screen and (min-width: 321px) and (max-width: 768px) {
    
.contenedor {

font-size: 0.8em;
}
}


@media screen and (min-width: 769px) {
    
.contenedor {

    font-size: 1.0em;

}
}

.contenedor {
    padding: 2%;
    border: 1px solid #090A09;
    margin: 0.5%;
}



.contenedor1 {
    width: 100%;
    background-color: blue;
    overflow: hidden;
    margin: 1%;
}

.contenedorpadre1 {
    width: 100%;
    border: 10px solid #090A09;
    background-color: tomato;
    
}
.contenedorpadre2 {
    width: 100%;
    height: 100px;
    padding: 10px;
}


.contenedor2 {
    background-color: red;
    align-content: center;
    overflow: visible;
    width: 25%;
    height: 33%;
    float: right;
    overflow: hidden;

}

.contenedor3 {
    background-color: white;
    align-content: center;
    overflow: visible;
    width: 25%;
    height: 33%;
    float: right;
    overflow: hidden;

}

.contenedor4 {
    background-color: magenta;
    align-content: center;
    overflow: visible;
    width: 25%;
    height: 33%;
    float: right;

}

.contenedor5 {
    background-color: yellow;
    align-content: center;
    overflow: visible;
    width: 50%;
    height: 50%;
    float: right;
}

.contenedor6 {
    background-color: darkorange;
    align-content: center;
    overflow: visible;
    width: 50%;
    height: 50%;
    float: right;
}

.contenedor7 {
    background-color: teal;
    color: white;
    align-content: center;
    overflow: visible;
    width: 100%;
    height: 50%;
    float: right;
}
    


